<div class="row">
  <div class="col-md-10">
    <div class="panel panel-info">


      <div class="panel-heading">
        <h3 class="panel-title">Game Records</h3>
      </div>
    </div>

    <div class="panel panel-primary">
      <% @games.group_by { |v| v.round }.values.each do |r| %>
          <div class="panel-heading">
            <h3 class="panel-title">Round <%= r.first.round %></h3>
          </div>
          <table class="table">
            <tr>
              <th>Game</th>
              <th>Player</th>
              <th>Kills</th>
              <th>Deaths</th>
              <th>Shots fired</th>
              <th>Shots hit</th>
              <th>Headshots</th>
              <th>Accuracy</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <% r.each do |game| %>
                <tr>
                  <td><%= link_to game.round, game %></td>
                  <td><%= link_to game.user.username, game %></td>
                  <td><%= link_to game.kill, game %></td>
                  <td><%= link_to game.deaths, game %></td>
                  <td><%= link_to game.shots_fired, game %></td>
                  <td><%= link_to game.shots_hit, game %></td>
                  <td><%= link_to game.headshots, game %></td>
                  <td><%= link_to game.accuracy, game %></td>
                  <td>
                    <div class="btn-group btn-group-xs">

                      <%= link_to 'Delete', game, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-default" %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>

      <br/>

      <div class="btn-group btn-group-sm">
        <%= link_to "New", new_game_path, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
</div>